{% extends 'front.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>
    <div style=" width:100%;display:flex;justify-content:flex-end;align-items:center;">
        {{ include('reservation/_delete_form.html.twig') }}
    </div>
    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
